@import "./toggle.scss";

.page__content figure.figure-ui img {
  width: clamp(240px, 32vw, 420px) !important;
  max-width: none !important;
  height: auto !important;
  display: block;
  margin: 0 auto;
}