---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ 'dark' }}"; // skin
@import "minimal-mistakes"; // main partials

@import "custom/customImport.scss";
@import "custom/customOverride.scss";

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');
@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

.page__content img {
  max-width: 100%;
  height: auto;
}

.page__content img.align-left {
  display: block;
  margin-left: 0 !important;
  margin-right: auto !important;
}

.page__content img.align-center {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

.page__content img.align-right {
  display: block;
  margin-left: auto !important;
  margin-right: 0 !important;
}

.page__content img.no-stretch {
  width: auto !important;
  max-width: 100%;
  height: auto;
}

/* 글자 강조 */
.emphasis-underline {
  font-weight: 700;
  text-decoration: underline;
}