---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@import "custom/customImport.scss";
@import "custom/customOverride.scss";
@import "custom/custom.scss";

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');
@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

/* figure-ui 내부 이미지 무조건 왼쪽 */
.page__content figure.figure-ui > img {
  display: block !important;
  margin-left: 0 !important;
  margin-right: auto !important;
}

/* figure 자체도 왼쪽 */
.page__content figure.figure-ui {
  margin-left: 0 !important;
  margin-right: auto !important;
  text-align: left !important;
}

/* 캡션도 왼쪽 */
.page__content figure.figure-ui > figcaption {
  text-align: left !important;
}

/* 글자 강조 */
.emphasis-underline {
  font-weight: 700;
  text-decoration: underline;
}


