---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@import "custom/customImport.scss";
@import "custom/customOverride.scss";
@import "custom/custom.scss";

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');
@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

.page__content img {
  width: auto !important;        /* 100% 강제 확대 제거 */
  max-width: 100% !important;    /* 화면이 작으면 줄어들게 */
  height: auto !important;
}