---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@import "custom/customImport.scss";
@import "custom/customOverride.scss";
@import "custom/custom.scss";

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');
@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

/* 기본: 가운데 */
.page__content figure.figure-ui {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.page__content figure.figure-ui img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* 왼쪽 버전 */
.page__content figure.figure-ui.left {
  margin-left: 0;
  margin-right: auto;
  text-align: left;
}

.page__content figure.figure-ui.left img {
  margin-left: 0;
  margin-right: auto;
}

.page__content figure.figure-ui.left figcaption {
  text-align: left;
}

/* 글자 강조 */
.emphasis-underline {
  font-weight: 700;
  text-decoration: underline;
}


