---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@import "custom/customImport.scss";
@import "custom/customOverride.scss";

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');
@import url('https://fonts.googleapis.com/css?family=Gamja+Flower');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

.page__content figure.figure-ui img,
figure.figure-ui img {
  width: clamp(240px, 32vw, 420px) !important;
  max-width: none !important;
  height: auto !important;
  display: block;
  margin: 0 auto;
}